<h1><%= @team.name %></h1>
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#shots" id="shots-tab" role="tab" data-toggle="tab">Shots</a>
      </li>
      <li role="presentation">
        <a href="#shot-details" id="shot-details-tab" role="tab" data-toggle="tab">Shot details</a>
      </li>
      <li role="presentation">
        <a href="#heatmap" id="heatmap-tab" role="tab" data-toggle="tab">Heat map</a>
      </li>
      <li role="presentation">
        <a href="#players" id="players-tab" role="tab" data-toggle="tab">Players</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active in" role="tab-pane" id="shots">
        <%= render partial: "shots/shots_plot", locals: {shots: @shots} %>
      </div>
      <div class="tab-pane fade" role="tab-pane" id="shot-details">
        <%= render partial: "shots/shots_details", locals: {shots: @shots} %>
      </div>
      <div class="tab-pane fade" role="tab-pane" id="heatmap">
        <%= render partial: "shots/shots_heat_map", locals: {shots: @shots} %>
      </div>
      <div class="tab-pane fade" role="tab-pane" id="players">
        <%= render partial: "memberships/members", locals: {members: @members} %>
        <br>
        <%= link_to 'New Player', new_player_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        No details
      </div>
    </div>
    <%= link_to 'Back', teams_path, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_team_path(@team), class: "btn btn-primary" %>
    <%= link_to 'Delete', @team, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<h2><%= @team.name %> Players</h2>
<%= render partial: "memberships/members", locals: {members: @members} %>
<%= link_to 'New Player', new_player_path, class: "btn btn-success" %>