<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row header-row">
      <div class="col-xs-3">
        Name
      </div>
      <div class="col-xs-1">
        Number
      </div>
      <div class="col-xs-2">
        Position
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% members.each do |member| %>
      <%= link_to member.player do %>
        <div class="row">
          <div class="col-xs-3">
            <%= member.player.name %>
          </div>
          <div class="col-xs-1">
            <%= member.number %>
          </div>
          <div class="col-xs-2">
            <%= member.position %>
          </div>
          <div class="col-xs-3">
            <%= link_to 'Details', member.player, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>