<h1><%= @league.name %></h1>

<%= link_to 'New Tournament', new_tournament_path(league_id: @league.id), class: "btn btn-success" %>

<br><br>

<%= render partial: "tournaments/tournaments", locals: {tournaments: @league.tournaments} %>

<%= link_to 'Back', leagues_path, class: "btn btn-default" %>
<%= link_to 'Edit', edit_league_path(@league), class: "btn btn-primary" %>
<%= link_to 'Delete', @league, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
