<% if shot.errors.any? %>
  <div class="alert alert-warning" id="error_explanation">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h4><%= pluralize(shot.errors.count, "error") %> prohibited this shot from being saved:</h4>

    <ul>
    <% shot.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <h1><%= title %></h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(shot) do |f| %>
          <div class="row">
            <div class="col-xs-6">
              <div class="field" onclick="goalClickHandler(event)">
                <%= f.label :goal %>
                <%= f.check_box :goal %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="field">
                <%= f.label "7 metre" %>
                <%= f.check_box :seven %>
              </div>
            </div>
          </div>

          <div class="field">
            <% if games.length > 1 %>
              <%= f.label :game_id %>
              <%= f.collection_select :game_id, games, :id, :details, {prompt: true}, {class: "form-control", onchange: "gameChangeHandler(this)"} %>
            <% else %>
              <%= f.hidden_field :game_id, value: games.first.id %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :team_id %>
            <div class="row">
              <%= f.collection_radio_buttons(:team_id, teams, :id, :name, {prompt: true}) do |b| %>
                <div class="col-sm-6"><%= b.label(:"data-value" => b.value) { b.radio_button(onClick: "teamChangeHandler(this)") + ' ' + b.text } %></div>
              <% end %>
            </div>
          </div>

          <div class="field">
            <%= f.label :shooter_id %>
            <div class="row">
              <%= f.collection_radio_buttons(:shooter_id, shooters, :id, :number_and_name, {prompt: true}) do |b| %>
                <div class="col-sm-6"><%= b.label(:"data-value" => b.value) { b.radio_button() + ' ' + b.text } %></div>
              <% end %>
            </div>
          </div>

          <div class="field">
            <%= f.label :goalie_id %>
            <%= f.collection_select :goalie_id, goalies, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>

          <div class="field">
            <%= f.text_field :x_position, type: "hidden" %>
          </div>

          <div class="field">
            <%= f.text_field :y_position, type: "hidden" %>
          </div>

          <div class="field">
            <%= f.text_field :shooter_x_pos, type: "hidden" %>
          </div>

          <div class="field">
            <%= f.text_field :shooter_z_pos, type: "hidden" %>
          </div>

          <div class="actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <div class="handball-goal canvas" onclick="canvasGoalClickHandler(event)">
      <% if shot.goal %>
        <%= image_tag "handball.png", style: "left: #{(shot.x_position + 258 - 9).round.to_s}px; top: #{(259 - shot.y_position - 9).round.to_s}px;", id: "handball" %>
      <% else %>
        <%= image_tag "handball-invert.png", style: "left: #{(shot.x_position + 258 - 9).round.to_s}px; top: #{(259 - shot.y_position - 9).round.to_s}px;", id: "handball" %>
      <% end %>
    </div>
    <div class="handball-field canvas" onclick="canvasFieldClickHandler(event)">
      <%= image_tag "shooter.png", style: "left: #{(shot.shooter_x_pos/5 + 250 - 5).round.to_s}px; top: #{(shot.shooter_z_pos/5 + 20 - 5).round.to_s}px;", id: "shooter" %>
    </div>
  </div>
</div>
