<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(game) do |f| %>
      <% if game.errors.any? %>
        <div class="alert alert-warning" id="error_explanation">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h4><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h4>

          <ul>
          <% game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4 col-sm-6">

          <div class="field">
            <%= f.label :home_id %>
            <%= f.collection_select :home_id, Team.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>

          <div class="field">
            <%= f.label :away_id %>
            <%= f.collection_select :away_id, Team.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>

          <div class="field">
            <%= f.label :date %>
            <%= f.date_field :date, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :tournament_id %>
            <%= f.collection_select :tournament_id, tournaments, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>

          <div class="actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
