<h1><%= @game.details %></h1>
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#shots" id="shots-tab" role="tab" data-toggle="tab">Shots</a>
      </li>
      <li role="presentation">
        <a href="#shot-details" id="shot-details-tab" role="tab" data-toggle="tab">Shot details</a>
      </li>
      <li role="presentation">
        <a href="#heatmap" id="heatmap-tab" role="tab" data-toggle="tab">Heat map</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active in" role="tab-pane" id="shots">
        <div class="handball-goal">
          <% @game.shots.each do |shot| %>
            <%= link_to image_tag(
              shot.goal ? "goal.png" : "no goal.png",
              style: "left: #{(shot.x_position + 258 - 9).round.to_s}px; top: #{(259 - shot.y_position - 9).round.to_s}px;", class: "handball"),
              edit_shot_path(shot)
            %>
          <% end %>
        </div>
        <div class="handball-field">
          <% @game.shots.each do |shot| %>
            <%= link_to image_tag(
              "shooter.png",
              style: "left: #{(shot.shooter_x_pos/5 + 250 - 5).round.to_s}px; top: #{(shot.shooter_z_pos/5 + 20 - 5).round.to_s}px;", class: "shooter"),
              edit_shot_path(shot)
            %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" role="tab-pane" id="shot-details">
        <%= render partial: "shots/shots", locals: {shots: @game.shots} %>
      </div>
      <div class="tab-pane fade" role="tab-pane" id="heatmap">
        <canvas class="handball-goal" id="goal_canvas" width="516px" height="279px"></canvas>
        <script>var shot_data = [
            <% @game.shots.each do |shot| %>
              [<%= (shot.x_position + 258).round %>,<%= (259 - shot.y_position).round %>, 1],
            <% end %>
          ]
        </script>
        <script>simpleheat('goal_canvas').data(shot_data).max(4).radius(9,9).draw();</script>
        <canvas class="handball-field" id="field_canvas" width="500px" height="420px"></canvas>
        <script>var shooter_data = [
            <% @game.shots.each do |shot| %>
              [<%= (shot.shooter_x_pos/5 + 250).round %>,<%= (shot.shooter_z_pos/5 + 20).round %>, 1],
            <% end %>
          ]
        </script>
        <script>simpleheat('field_canvas').data(shooter_data).max(4).radius(5,5).draw();</script>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="score"><%= @game.home_team_score %> : <%= @game.away_team_score %></div>
        <p>
          <strong>Home:</strong>
          <%= @game.home.name %>
        </p>

        <p>
          <strong>Away:</strong>
          <%= @game.away.name %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @game.date %>
        </p>
      </div>
    </div>

    <div>
      <%= link_to 'Back', games_path, class: "btn btn-default" %>
      <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary" %>
      <%= link_to 'Destroy', @game, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <br>
    <br>

    <div>
      <%= link_to 'Add Shot', new_shot_path(game_id: @game.id), class: "btn btn-success" %>
    </div>

  </div>
</div>
