
<div class="panel panel-default">
  <div class="panel-body">
    
    <%= form_for(player) do |f| %>
      <% if player.errors.any? %>
        <div class="alert alert-warning" id="error_explanation">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h4><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h4>

          <ul>
          <% player.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4 col-sm-6">

          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :number %>
            <%= f.number_field :number, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :position %>
            <%= f.select(:position, options_for_select([
              ['Goalie', 'Goalie'],
              ['Left Wing', 'Left Wing'],
              ['Left Back', 'Left Back'],
              ['Centre', 'Centre'],
              ['Pivot', 'Pivot'],
              ['Right Back', 'Right Back'],
              ['Right Wing', 'Right Wing']
            ]), {}, {class: "form-control"}) %>
          </div>

          <div class="field">
            <%= f.label :team_id %>
            <%= f.collection_select :team_id, Team.all, :id, :name, {include_blank: "None"}, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
