//= depend_on_asset "handball goal.png"
//= depend_on_asset "handball-invert.png"

function goalClickHandler(event) {
  var handball = document.querySelector("#handball");
  var goal = $("input[name='shot[goal]']:checkbox")
  if(goal.is(":checked")){
    handball.src='<%= asset_path("handball.png") %>';
  } else{
    handball.src='<%= asset_path("handball-invert.png") %>';
  }
}

function canvasGoalClickHandler(event) {
  event = event || window.event
  var xInput = document.querySelector("#shot_x_position");
  var yInput = document.querySelector("#shot_y_position");
  var handball = document.querySelector("#handball");
  var parentPosition = getPosition(event.currentTarget);
  var xPosition = event.clientX - parentPosition.x;
  var yPosition = event.clientY - parentPosition.y;

  x = xPosition - 258;
  y = 259 - yPosition;

  handball.style.left = (xPosition - 9) + "px";
  handball.style.top = (yPosition - 9) + "px";

  xInput.value = x;
  yInput.value = y;
}

function canvasFieldClickHandler(event) {
  event = event || window.event
  var xInput = document.querySelector("#shot_shooter_x_pos");
  var zInput = document.querySelector("#shot_shooter_z_pos");
  var shooter = document.querySelector("#shooter");
  var parentPosition = getPosition(event.currentTarget);
  var xPosition = event.clientX - parentPosition.x;
  var zPosition = event.clientY - parentPosition.y;

  x = (xPosition - 250) * 5;
  z = (zPosition - 20) * 5;

  shooter.style.left = (xPosition - 5) + "px";
  shooter.style.top = (zPosition - 5) + "px";

  xInput.value = x;
  zInput.value = z;
}

function getPosition(el) {
  var xPos = 0;
  var yPos = 0;

  while (el) {
    if (el.tagName == "BODY") {
      // deal with browser quirks with body/window/document and page scroll
      var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
      var yScroll = el.scrollTop || document.documentElement.scrollTop;

      xPos += (el.offsetLeft - xScroll + el.clientLeft);
      yPos += (el.offsetTop - yScroll + el.clientTop);
    } else {
      // for all other non-BODY elements
      xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
      yPos += (el.offsetTop - el.scrollTop + el.clientTop);
    }

    el = el.offsetParent;
  }
  return {
    x: xPos,
    y: yPos
  };
}

function teamDiv(value, name) {
  return $("<div class='col-sm-6'><label data-value='" + value + "' for='shot_team_id_" + value + "'><input onClick='teamChangeHandler(this)' type='radio' value='" + value + "' name='shot[team_id]' id='shot_team_id_" + value + "'> " + name + "</label></div>")
}

function getTeamsForGame(game_id) {
  $.get('<%= Rails.application.routes.url_helpers.teams_path %>.json', {game_id: game_id})
  .done(function(data) {
    var teams = $('[for="shot_team_id"]').siblings()
    teams.children().not(':first').remove();
    $.each(data, function(i, team) {
      teams.append(teamDiv(team.id, team.name));
    });
  });
}

function gameChangeHandler(el) {
  var gameId = el[el.selectedIndex].value;
  getTeamsForGame(gameId);
}

function shooterDiv(value, name, number) {
  return $("<div class='col-sm-6'><label data-value='" + value + "' for='shot_shooter_id_" + value + "'><input type='radio' value='" + value + "' name='shot[shooter_id]' id='shot_shooter_id_" + value + "'> " + number + " " + name + "</label></div>")
}

function getPlayersForShooters(team_id) {
  $.get('<%= Rails.application.routes.url_helpers.players_path %>.json', {team_id: team_id})
  .done(function(data) {
    var players = $('[for="shot_shooter_id"]').siblings()
    players.children().not(':first').remove();
    $.each(data, function(i, player) {
      players.append(shooterDiv(player.id, player.last_name, player.number));
    });
  });
}

function getPlayersForGoalies(team_id) {
  $.get('<%= Rails.application.routes.url_helpers.players_path %>.json', {team_id: team_id})
  .done(function(data) {
    var players = $("#shot_goalie_id")
    players.empty();
    data.reverse();
    $.each(data, function(i, player) {
      players.append($("<option>", {
        value: player.id,
        text: player.last_name
      }));
    });
  });
}

function teamChangeHandler(el) {
  var teams = $('input[name="' + el.name + '"]')
  var shooterTeamId = parseInt(el.value);
  var goalieTeamId = parseInt(teams[1].value) + parseInt(teams[2].value) - shooterTeamId;
  getPlayersForShooters(shooterTeamId);
  getPlayersForGoalies(goalieTeamId);
}
